:root {
  --primary-color: #4182b3;
  --primary-color-variant: #4fa2d4;
  --secondary-color: #263238;
  --secondary-color-variant: #37474F;

  --analogous-1:#41b3ab;
  --analogous-2: #4148b3;

  --triadic-1: #7241b3;
  --triadic-2: #b34181;

  --background-color: white;
  --surface-color: white;
  --error-color: red;


  --on-primary-color: #F0F0F0;
  --on-secondary-color: back;
  --on-background-color: back;
  --on-surface-color: back;
  --on-error-color: white;
}
